services:
  - type: web
    name: omr-scanner
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn main:app
    autoDeploy: true
